.card{class: calendar_card_klass(meeting.status), id: "calendar_card-#{meeting.start_time.to_i}"}
  .card-body
    .card-title
      %strong
        = fa_icon("clock", type: "regular")
        = meeting.start_time.strftime("%H:%M")
      %span.float-end= meeting_status_label(meeting.status)

    - if meeting.not_open?
      .text-muted Not available
      = button_to "Available for Meeting", meetings_path(investor_id: investor, start_time: meeting.start_time.to_i), class: "btn btn-outline-secondary btn-sm btn-block"
    - elsif not meeting.cancelled?
      - if meeting.open?
        .text-muted Available for meeting
      - elsif meeting.booked?
        .text-muted Booked by #{meeting.user.name}
      = button_to "Cancel", cancel_meeting_path(meeting), class: "btn btn-outline-warning btn-sm btn-block"

