.alert.alert-info
  You are viewing the calendar as
  %strong #{@investor.name}
  \.

.col-3
  %label Please select a date for the calendar:
  .input-group.mb-3
    %span.input-group-text= fa_icon("calendar")
    = text_field_tag :date, @date.strftime("%F"), 'data-date-picker': true, class: "form-control", 'data-redirect-on-change' => investor_calendar_path(@investor)

%hr

%h5 Schedule on #{@date.strftime("%F")}:

- # subscribed the BookingChannel to auto update the booking event
#meetings{ 'data-booking-channel': { id: @investor.id }.to_json.html_safe }
  - # slice(4) so that each hour's meetings are in the same line
  - @investor.get_schedule_on(@date).each_slice(4).each do |meetings|
    .row.mt-2
      - meetings.each do |meeting|
        .col-3
          = render "investor_calendar_card", meeting: meeting, investor: @investor
