%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @investors.each do |investor|
      %tr
        %td
          = investor.name
          = link_to "[Act As]", investor_calendar_path(investor), target: "_blank"
        %td= link_to 'Show', investor
        %td= link_to 'Edit', edit_investor_path(investor)
        %td= link_to 'Destroy', investor, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Investor', new_investor_path
