!!!
%html
  %head
    %title Investor Portal
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render 'layouts/topbar'

    .container.mt-3
      = render 'layouts/navbar' if admin_controllers?
      = render 'layouts/flash_content'
      .mt-3
        = yield
